
<!-- Header -->
    <header id="header">
      <a class="logo" href="index.html">Industrious</a>
      <nav>
        <a href="#menu">Menu</a>
      </nav>
    </header>

  <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="generic.html">Generic</a></li>
      </ul>
    </nav>

  <!-- Section 1 : Banner -->
  <%= render 'static/parts/section1' %>

  <!-- Section 2 : 3 bonnes raisons -->
  <%= render 'static/parts/section2' %>


  <!-- Section 3 : Chiffres -->
  <%= render 'static/parts/section3' %>


  <!-- Section 4 : Témoignages -->
  <%= render 'static/parts/section4' %>


  <!-- Section 5 : Infos Pratiques -->
  <%= render 'static/parts/section5' %>


  <!-- Section 6 : Map -->
  <%= render 'static/parts/section6' %>


  <!-- Footer -->
  <%= render 'static/parts/section7' %>

 <p><!-- Mailchimp -->

      <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"b6bb9b2b27c2dcf47afcc216c","lid":"9fb0e97ee6"}) })</script>
</p>

 <p><!-- Mailchimp -->

      <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"b6bb9b2b27c2dcf47afcc216c","lid":"9fb0e97ee6"}) })</script>
</p>
