<!DOCTYPE html>
<html>
  <head>
    <title>ThpLandingPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="is-preload">
    <%= yield %>

    <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'browser.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'breakpoints.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'util', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
